/* You can add global styles to this file, and also import other style files */
:root{
    --color-warn-mat:#f44336;
    --color-text-opaco:#959da6;
    --color-mor-az-f0:#5800ff;
    --color-gris-semiclaro: #242a33;
    --color-gris-oscuro: #191d23;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}